version: '3'
services:
  db:
    image: mysql:8.0.21
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    ports:
      - 3306:${DATABASE_PORT}
    volumes:
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping']
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - db

  backend:
    build: ./backend
    container_name: backend
    ports:
      - 3000:${API_PORT}
    tty: true
    stdin_open: true
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${DATABASE_USER}
      API_PORT: ${API_PORT}
    volumes:
      - ./backend:/app
    command: npm run dev
    networks:
      - db

networks:
  db:
